<a href="https://colab.research.google.com/github/Donghwaa/tutorial/blob/main/dividends.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import
import yfinance as yf

In [20]:
start = '2018-01-01'
# start = datetime.strptime(start,'%Y-%m-%d')
end = '2022-12-31'
# end = datetime.strptime(end,'%Y-%m-%d')

In [21]:
ticker = yf.Ticker('005930.KS')

In [22]:
ticker.history(interval = '1d',
               start=start,
               end=end,
               actions = True,
               auto_adjust = True)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-01-02 00:00:00+09:00,44304.628706,44321.874571,43787.252738,43994.203125,8474250,0.0,0.0
2018-01-03 00:00:00+09:00,45304.883949,45322.129813,44339.115582,44511.574219,10013500,0.0,0.0
2018-01-04 00:00:00+09:00,44942.726431,44994.464029,43666.532357,44045.941406,11695450,0.0,0.0
2018-01-05 00:00:00+09:00,44235.646060,44942.726562,44149.416731,44942.726562,9481150,0.0,0.0
2018-01-08 00:00:00+09:00,45184.163603,45287.638787,44408.099724,44856.492188,8383650,0.0,0.0
...,...,...,...,...,...,...,...
2022-12-23 00:00:00+09:00,57838.378657,58037.135972,57341.485370,57739.000000,9829407,0.0,0.0
2022-12-26 00:00:00+09:00,57639.620844,57738.999501,57341.484874,57540.242188,6756411,0.0,0.0
2022-12-27 00:00:00+09:00,57639.621343,58037.135972,57540.242685,57739.000000,10667027,0.0,0.0
2022-12-28 00:00:00+09:00,57600.000000,57600.000000,56400.000000,56600.000000,14665410,361.0,0.0
2022-12-29 00:00:00+09:00,56000.000000,56200.000000,55300.000000,55300.000000,11295935,0.0,0.0

In [25]:
yf.download('005930.KS',start,end)

[*********************100%***********************]  1 of 1 completed

               Open     High      Low    Close     Adj Close    Volume
Date
2018-01-02  51380.0  51400.0  50780.0  51020.0  43994.207031   8474250
2018-01-03  52540.0  52560.0  51420.0  51620.0  44511.574219  10013500
2018-01-04  52120.0  52180.0  50640.0  51080.0  44045.933594  11695450
2018-01-05  51300.0  52120.0  51200.0  52120.0  44942.726562   9481150
2018-01-08  52400.0  52520.0  51500.0  52020.0  44856.492188   8383650
...             ...      ...      ...      ...           ...       ...
2022-12-23  58200.0  58400.0  57700.0  58100.0  57739.000000   9829407
2022-12-26  58000.0  58100.0  57700.0  57900.0  57540.242188   6756411
2022-12-27  58000.0  58400.0  57900.0  58100.0  57739.000000  10667027
2022-12-28  57600.0  57600.0  56400.0  56600.0  56600.000000  14665410
2022-12-29  56000.0  56200.0  55300.0  55300.0  55300.000000  11295935

[1230 rows x 6 columns]

In [23]:
ticker.dividends

Date
2018-03-29 00:00:00+09:00     354.0
2018-06-28 00:00:00+09:00     354.0
2018-09-27 00:00:00+09:00     354.0
2018-12-27 00:00:00+09:00     354.0
2019-03-28 00:00:00+09:00     354.0
2019-06-27 00:00:00+09:00     354.0
2019-09-27 00:00:00+09:00     354.0
2019-12-27 00:00:00+09:00     354.0
2020-03-30 00:00:00+09:00     354.0
2020-06-29 00:00:00+09:00     354.0
2020-09-28 00:00:00+09:00     354.0
2020-12-29 00:00:00+09:00    1932.0
2021-03-30 00:00:00+09:00     361.0
2021-06-29 00:00:00+09:00     361.0
2021-09-29 00:00:00+09:00     361.0
2021-12-29 00:00:00+09:00     361.0
2022-03-30 00:00:00+09:00     361.0
2022-06-29 00:00:00+09:00     361.0
2022-09-29 00:00:00+09:00     361.0
2022-12-28 00:00:00+09:00     361.0
Name: Dividends, dtype: float64